@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
* {
  font-family: 'Press Start 2P', sans-serif;  
}
html, body {
    box-sizing: border-box;
    background-color: black;
}

.app {
    position: relative;
    width: 100%;
    height: 99vh;
    background-color: black;
    box-sizing: border-box;
}
